{% extends 'base.html' %}
{% block js %}
<!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Mushrooms', 3],
          ['Onions', 1],
          ['Olives', 1],
          ['Zucchini', 1],
          ['Pepperoni', 2]
        ]);

        // Set chart options
        var options = {'title':'How Much Pizza I Ate Last Night',
                       'width':400,
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
{% endblock %}
{% block content %}
<div class="container pt-4">
  <div class="row">
    <div class="col-md-12">
      <div class="mb-4">
        <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#multiCollapseExample1" aria-expanded="false" aria-controls="multiCollapseExample2">Toggle second element</button>
        </p>
        <div class="row">
          <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              <div class="card card-body">
                <div id="chart_div"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h2>Lista delle spese</h2>
      {% for spesa in object_list %}
      <a href="{% url 'spesa_detail' spesa.pk %}" class="no-link-style">
        <div class="card w-100 p-1 d-flex flex-row justify-content-between mb-2 spesa-card">
          <div class="flex-1 pl-1">
            <h5 class="mb-1">
              {{ spesa.importo }} €
              {% if spesa.tipo_spesa %}
                <span class="badge spesa-badge" style="background: {{ spesa.tipo_spesa.colore_badge }};">{{ spesa.tipo_spesa }}</span>
              {% endif %}
            </h5>
            <p class="mb-0">
              <span class="text-info">Causale:</span> {{ spesa.causale }}
            </p>
          </div>
          <div class="flex-1">
            <p><span class="text-info">Data:</span> {{ spesa.data }}</p>
            {% if spesa.tipo_spesa.spesa_ordinaria %}
            <p class="text-warning mb-0 border p-1 d-initial border-warning">SPESA ORDINARIA</p>
            {% else %}
            <p class="text-danger mb-0 border p-1 d-initial border-danger">SPESA STRAORDINARIA</p>
            {% endif %}
          </div>
        </div>
      </a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
